/* .navbar{
  

  display: flex;
 position: relative;
  text-decoration: none;
  justify-content: space-between;
  
}
.navbar div{
  display: flex;
  position: relative;
  float: right;
  
  margin-right: 5px;
  
  justify-content: center;
}
.navbar .imgUser{
 
} */




